body {
  background-color: #f4f4f4;
}
#main {
  height: 86vh;
}

#home-header {
  background-color: #828080;
  height: 6vh;
}

.footer {
  background-color: #828080;
  height: 8vh;
}
#track-text {
  padding-top: 8em;
}
#main-right {
  background-image: url(./resources/fadedTrack.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  margin-top: -0.5em;
}

.copywrite {
  margin-top: 1em;
  color: #fff;
}
.img-thumbnail {
  border: none;
  background-color: transparent;
}

.img-cover {
  margin-top: 1em;
  width: 13rem;
  height: 13rem;
}

/* playlist page */
#playlist-main {
  height: 77vh;
}
#playlist-header {
  background-color: #828080;
  height: 15vh;
}

#playlist-header {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.playlist-header-text {
  color: #f4f4f4;
}

#albums {
  display: flex;
  justify-content: space-around;
  /* overflow: scroll; */
}

.box {
  width: 30px;
  height: 30px;
  background-color: green;
}

.tracks-box {
  height: 15rem;
}

.playlist-buttons {
  padding-top: 1em;
}

#submit-bin {
  margin-left: 1em;
}

.img-album {
  width: 9rem;
  height: 9rem;
}

.album-tracks {
  overflow: scroll;
}
